
# dependencies
node_modules

# logs
*.log
.DS_Store
tsconfig.tsbuildinfo
*.tsbuildinfo
lib
built
esm

# non Zero-Installs
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions



