@import '/node_modules/@podlite/to-jsx/lib/podlite.css';
@import '/node_modules/@podlite/editor-react/lib/podlite-vars.css';

 @import './screen.css'; 
@import './global.css'; 

@import '/node_modules/@podlite/editor-react/lib/Editor.css'; 
@import '/node_modules/@podlite/formula/lib/default.css'; 

@media (prefers-color-scheme: light) {
    :root {
        --color-highlight: var(--vscode-editor-foreground);
        --color-default: var(--vscode-editor-foreground);
        --font-size-serif: var(--vscode-font-size);
    }
    .podlite-content, .podlite-var {
        --color-background: var(--color-light-background);
        --color-canvas-default: var(--vscode-editor-background);
        --color-fg-default:var(--vscode-editor-foreground);
    }
}
.podlite-editor, .podlite-editor-preview {

   background-color:    var(--vscode-editor-background);

 
}
